/*=================Estilos CSS===============*/
/*estructura del cuerpo* estilos globales (Global-styles) y ancho de imagenes*/
*{
	margin: 0px;
	padding: 0px;   
}
body{
	
}
img{
	max-width:100%;
}	
/*Clases Globales de la imagen del index*/
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top:90px;
}
/*animacion del index imagen y titulo*/
.retraso-1{
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
   animation-delay: 2s;
}
/*Estilos del titulo*/
 .lifestyle{
	font-family: 'Bungee Outline', helvetica;
	color: #4F22F2;
	font-size: 5em;
}
.espacio-derecha{
	margin-right: 1em;

}
/*Estilos de los links
nav a:not(:first-child):before{  /*ESta linea es para poner el separador entre links
	content: '|'; linea separadora de links
	padding: 0px 2em; Espacio entre links
	*/
nav a{
	font-size: 20px;
	color: #4F22F2;
    
}
nav a:hover{
	color: #FF0055;
}
/************Tipografias***********/
/*********Titulos y Parrafos*******/
/* h1, h2 , h3, h4 , h5 color de los titulos grandes y menu quien soy*/
.lifestyle{
	color: #4F22F2;
	font-size: 6em;
	

}
h2, h3, h4, h5, h6 {
	font-size: 20px;
	color: #FF0055;
}
p{
	line-height: 2em; /*Linea para el interlineado de de los parrafos*/
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*==============Tecnologias que uso=========*/
#info .contenedor{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 30px;
}
.div-img {
  display: block;
  margin-left: 25px;
  margin-right: 25px;
 }
/*footer pie de pagina about*/
.love{
	text-align: center;
}
.mipiedepagina{
	background-color: #4F22F2;
	color: #fff;
	margin-top: 30px;
	padding-top: 30px;
}
.mi-footer{
	border-top: 1px solid white;
	margin-top: 10px;
	padding-top: 10px;
	color: white;
}
.mi-footer ul{
	text-align: right;
	list-style: none;
}
.navegacion li{
	display: inline;
	padding: 0px 10px;
}
.mi-footer a{
	font-size: 20px;
	color: white;
}
.mi-footer a:hover{
	color: #4AFAB5;
	text-decoration: none;
}


