@import url(habilidades.css);
@import url(menu.css);
@import url(piedepagina.css);

/*estructura del cuerpo* estilos globales (Global-styles) y ancho de imagenes*/
*{
	margin: 0px;
	padding: 0px;   
}
img{
	max-width:100%;
}	

/*Clases Globales de la imagen del index*/
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top:90px;
}
/*animacion del index imagen y titulo*/
.retraso-1{
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}
/*Estilos Css los links*/
.espacio-derecha{
	margin-right: 1em;
}










