/* estilos seccion de habilidades*/
.skills {
  color: #4F22F2;
}
.skills .progress {
  border-radius: 0px;
  height: 5px;
}
.skills .progress .progress-bar-primary {
  background: #4E5AD9;
}
.skills strong {
  display: inline-block;
  font-weight: normal;
  padding-bottom: 6px;
}
